.button {
  border: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--color-primary);
  background: #fff;
  font-size: 92px;
  cursor: pointer;
}
